<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>View Room Status</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/modal.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
  </head>

  <body>
    <div
      id="navbar-container"
      th:replace="~{components/navbar :: navbar}"
    ></div>

    <!-- PAGE CONTENT -->

    <section class="hero">
      <div class="welcome-box">
        <h1>Room Status</h1>
        <p>Here you can view all room availability and status.</p>
      </div>
    </section>

    <!-- MODALS -->
    <div th:replace="~{components/modals :: modals}"></div>

    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/account.js}"></script>
    <script th:src="@{/js/dropdown.js}"></script>
    <script th:src="@{/js/role.js}"></script>
  </body>
</html>
